@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

*{
    box-sizing: border-box;
}

body{
   font-family: "Montserrat", sans-serif;
   min-height: 100vh;
background: rgb(59, 72, 95) ;

overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2b59c3;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0d324d;
}


